$SFPro: 'SF Pro Display';
$Geared: 'Geared Slab';
$TimesRoman: 'Times New Roman';
$Arial: 'Arial';

body {
	line-height: 1;
	font-family: $SFPro;
	font-weight: 400;
	background: #fff;
	font-size: 16px;
	color: #424242;/* 
	overflow-x: hidden; */
}

p {
	line-height: 20px;
}

p,
h2 {
	max-height: 100%;
}

.container {
	max-width: 1230px;
	padding: 0 10px;
	margin: 0 auto;
	position: relative;
}

@media (max-width: 1235px) {
	.container {
		width: 100%;
		padding: 0 17px;
	}
}

@media (max-width: 767px) {
	.container {
		padding: 0 13px;
	}
}

/* ---------------------------------------------------------- */

.tag {
	max-width: 100vw;
	margin: 0 auto;
	background: url(/src/img/tag-bg-img.png) no-repeat center;
	height: 300px;
	background-size: contain;
}

.header {
	max-width: 1920px;
	margin: 0 auto;
	padding-top: 30px;
	background: url(/src/img/main-bg-img.png) no-repeat;
	height: 940px;
	background-size: cover;
	background-position: center;
	&-box {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 200px;
		&__logo {
			text-decoration: none;
		}
		&__production {
			text-decoration: none;
			background: #fff;
			border-radius: 28px;
			padding: 11px 20px 12px 54px;
			box-sizing: border-box;
			position: relative; /* 
			margin-left: 114px; */
			font-family: $SFPro;
			font-size: 16px;
			line-height: 19px;
			color: #000;
			transition: box-shadow 0.5s, transform 0.5s;
			&::before {
				content: '';
				display: block;
				position: absolute;
				background: url(/src/icons/header-logo-nav.svg) repeat center top;
				top: 10px;
				left: 19px;
				width: 22px;
				height: 22px;
			}
			&:hover {
				box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
				transform: translate(0, -3px);
			}
		}
		&__nav {
			/* 
			margin-left: 52px; */
			& .nav {
				display: flex;
				gap: 30px;
				& a {
					font-family: $SFPro;
					font-size: 16px;
					color: #000;
					opacity: 0.8;
					text-decoration: none;
					transition: all 0.4s;
					&:hover {
						color: #009947;
					}
				}
			}
		}
		&__phone {
			font-family: $SFPro;
			font-weight: 700;
			font-size: 20px;
			color: #000; /* 
			margin-left: 82px; */
			text-decoration: none;
		}
	}
	& .main-box {
		&__title {
			font-family: 'GearedSlab';
			font-weight: normal;
			font-style: normal;
			font-size: 88px;
			line-height: 84px;
			margin-bottom: 26px;
		}
		&__text {
			font-family: 'SF Pro Display';
			font-size: 18px;
			line-height: 133%;
			color: #2f3439;
			margin-bottom: 73px;
		}
		&__btn {
			display: block;
			margin: 0 auto;
			color: #fff;
			text-decoration: none;
			font-family: $SFPro;
			font-size: 16px;
			padding: 20px 37px;
			background: #009947;
			border: none;
			border-radius: 50px;
			clear: both;
			box-sizing: border-box;
			cursor: pointer;
			transition: all 0.5s;
			float: left;
			&:hover {
				box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
				transform: translate(0, -3px);
			}
		}
	}
}

@media (max-width: 1235px) {
	.header {
		height: 740px;
		&-box {
			margin-bottom: 100px;
			&__production {
				display: none;
			}
			&__nav {
				display: none;
				& .nav {
				}
			}
			&__phone {
				display: none;
			}
		}
		& .main-box {
			&__title {
				font-size: 62px;
				line-height: 70px;
			}
			&__text {
				margin-bottom: 50px;
			}
		}
	}
}

@media (max-width: 500px) {
	.header {
		& .main-box__title {
			font-size: 50px;
			line-height: 55px;
		}
		& .main-box__text {
			font-size: 15px;
			line-height: 22px;
		}
	}
}

/* ---------------------------------------------------------- */

.production {
	padding: 76px 0 135px;
	&__title {
		font-family: 'GearedSlab';
		font-size: 62px;
		color: #2f3439;
		text-align: center;
		margin-bottom: 70px;
	}
	& .slider {
		position: relative;
		width: 100%;
		margin: 0 auto;
		height: 520px;
		margin-bottom: 54px;
		&__btn {
			width: 72px;
			height: 65px;
			border-radius: 100%;
			&_prev {
				position: absolute;
				left: 0;
				top: 40%;
				z-index: 1;
				transform: rotate(180deg);
			}
			&_next {
				position: absolute;
				right: 0;
				top: 40%;
				z-index: 1;
			}
		}
	}
	&__btn {
		display: block;
		margin: 0 auto;
		color: #fff;
		text-decoration: none;
		font-family: $SFPro;
		font-size: 16px;
		padding: 20px 37px;
		background: #009947;
		border: none;
		border-radius: 50px;
		clear: both;
		box-sizing: border-box;
		cursor: pointer;
		transition: 0.2s;
		&:hover {
			background: #14492b;
		}
	}
}
.card {
	background: url(/src/img/back-slider-item.png) no-repeat;
}

@media (max-width: 1235px) {
	.production {
		padding: 40px 0 0;
		&__title {
			font-size: 50px;
		}
		& .slider {
			height: 100%;
			margin-bottom: 30px;
			&__btn {
				&_prev {
				}
				&_next {
				}
			}
		}
		&__btn {
		}
	}
}

@media (max-width: 767px) {
}

/* ---------------------------------------------------------- */

.structure {
	max-width: 1920px;
	margin: 0 auto;
	background: url(/src/img/structure-bg-img.png) no-repeat;
	background-size: cover;
	background-position: center;
	height: 1436px;
	position: relative;
	&-box {
		padding-top: 332px;
		&__bottle {
			width: 534px;
			height: 1143px;
			background: url(img/structure-bottle-img.png) no-repeat;
			position: absolute;
			top: 205px;
			left: 300px;
			z-index: 2;
		}
		&__title {
			font-family: 'GearedSlab';
			font-size: 62px;
			color: #2f3439;
			text-align: center;
			margin-bottom: 244px;
		}
		&__items {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}
		&__item {
			font-family: $SFPro;
			margin-bottom: 99px;
			&-title {
				display: block;
				font-weight: bold;
				font-size: 24px;
				line-height: 29px;
				margin-bottom: 14px;
			}
			&-text {
				font-size: 16px;
				line-height: 19px;
				opacity: 0.8;
			}
		}
	}
}

@media (max-width: 1235px) {
	.structure {
		height: 936px;
		&-box {
			padding-top: 220px;
			&__bottle {
				width: 370px;
				height: 730px;
				top: 15%;
				left: 30%;
			}
			&__title {
				font-size: 50px;
				margin-bottom: 150px;
			}
			&__items {
			}
			&__item {
				&-title {
					font-size: 19px;
					line-height: 24px;
				}
				&-text {
					font-size: 14px;
				}
			}
		}
	}
}

@media (max-width: 900px) {
	.structure {
		height: 636px;
		&-box {
			&__bottle {
				width: 227px;
				height: 455px;
				top: 25%;
				left: 35%;
			}
			&__title {
				margin-bottom: 70px;
			}
			&__item {
				margin-bottom: 50px;
			}
		}
	}
}

@media (max-width: 767px) {
	.structure {
		height: auto;
		&-box {
			&__bottle {
				display: block;
				position: static;
				margin: 0 auto;
				margin-bottom: 50px;
			}
			&__items {
				flex-wrap: wrap;
				column-gap: 20px;
			}
		}
	}
}

/* ---------------------------------------------------------- */

.about {
	max-width: 100%;
	margin: 0 auto;
	padding-bottom: 100px;
	background: url(/src/img/about-bg.png) no-repeat;

	&-box {
		display: flex;
		justify-content: space-between;
		gap: 189px;
		padding-top: 143px;
		padding-bottom: 155px;
		&__title {
			width: 164px;
			font-family: 'GearedSlab';
			font-size: 62px;
			color: #2f3439;
			line-height: 62px;
		}
		&__text {
			font-family: $SFPro;
			font-size: 16px;
			line-height: 20px;
			color: #2f3439;
			opacity: 0.8;
		}
	}
	&-panorama {
		width: 100%;
		height: 500px;
		margin: 0 auto;
		overflow: hidden;
		display: flex;
		flex-direction: row;
		gap: 35px;

		& img {
			height: 100%;
		}
	}
	&-swiper {
		width: 100%;
	}
}

.about-slider {
	max-width: 100vw;
	overflow: hidden;
	&__box {
		width: 100%;
		height: 100%; /* 
		&-swiper {
		} */
		&-slide {
			width: 100%;
		}
	}
}

.swiper-slide {
	&__img {
		display: flex;
		justify-content: center;
		align-items: center;
		&-1 {
			width: 375px;
			height: 500px;
		}
		&-2 {
			width: 467px;
			height: 500px;
		}
		&-3 {
			width: 667px;
			height: 500px;
		}
		&-4 {
			width: 878px;
			height: 500px;
		}
	}
	& img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

@media (max-width: 1235px) {
	.about {
		&-box {
			flex-direction: column;
			gap: 50px;
			padding-bottom: 150px;
			&__title {
				font-size: 50px;
			}
			&__text {
			}
		}
		&-panorama {
			& img {
			}
		}
	}


	.swiper-slide {
		&__img {
			&-1 {
				width: 250px;
				height: 350px;
			}
			&-2 {
				width: 650px;
				height: 350px;
			}
			&-3 {
				width: 380px;
				height: 350px;
			}
			&-4 {
				width: 480px;
				height: 350px;
			}
		}
		& img {
		}
	}
}

@media (max-width: 767px) {
}

/* ---------------------------------------------------------- */

.awards {
	padding-bottom: 161px;
	&__title {
		font-family: 'GearedSlab';
		font-size: 62px;
		color: #2f3439;
		text-align: center;
		line-height: 62px;
		margin-bottom: 54px;
	}
	&__box {
		/* display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		gap: 38px 34px;
		margin-bottom: 68px; */
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 35px;
		margin-bottom: 68px;

		&-item {
			display: flex;
			justify-content: center;
			align-items: center;
			/* width: 350px;
			height: 400px;
			background-color: #eceff2; */
			background: radial-gradient(
					86.25% 86.25% at 50% 50%,
					#ffffff 0%,
					rgba(255, 255, 255, 0) 100%
				),
				#eceff2;
			padding: 59px 0;
			& img {
				max-width: 100%;
				max-height: 100%;
			}
		}
		&-btn {
			display: block;
			margin: 0 auto;
			color: #fff;
			text-decoration: none;
			font-family: $SFPro;
			font-size: 16px;
			padding: 20px 37px;
			background: #009947;
			border: none;
			border-radius: 50px;
			clear: both;
			box-sizing: border-box;
			cursor: pointer;
			transition: 0.2s;

			&:hover {
				background: #14492b;
			}
		}
	}
}

@media (max-width: 1235px) {
	.awards {
		padding-bottom: 140px;
		&__title {
			font-size: 50px;
		}
		&__box {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 25px;
			margin-bottom: 68px;
	
			&-item {
				& img {
				}
			}
			&-btn {
			}
		}
	}
}

@media (max-width: 500px) {
	.awards {
		&__box {
			grid-template-columns: 1fr;
			&-item_hidden {
				display: none
			}
		}
	}
}

/* ---------------------------------------------------------- */

.instagram {
	&__title {
		font-family: 'GearedSlab';
		font-size: 62px;
		color: #2f3439;
		text-align: center;
		margin-bottom: 6px;
		line-height: 62px;
	}
	&__link {
		margin-bottom: 45px;
		text-align: center;
		& a {
			font-family: $SFPro;
			font-size: 24px;
			text-decoration: none;
			color: #2f3439;
			opacity: 0.8;
			line-height: 29px;
			&:hover {
				opacity: 1;
			}
		}
	}
	&__box {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		margin: 0 auto;
		background: #e7ecf1;
		overflow: hidden;
		&-grid {
			display: grid;
			grid-template-columns: repeat(4, 500px);
			grid-template-rows: repeat(3, 570px);
			gap: 25px;
			transform: rotate(345deg);
		}
	}
}
.grid-item {
	& img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

@media (max-width: 1235px) {
	.instagram {
		&__title {
			font-size: 50px;
		}
		&__link {
			& a {
				font-size: 20px;
			}
		}
		&__box {
			&-grid {
				grid-template-columns: repeat(4, 310px);
				grid-template-rows: repeat(3, 353px);
			}
		}
	}
}

@media (max-width: 767px) {
	.instagram {
		&__box {
			&-grid {
				grid-template-columns: repeat(4, 285px);
				grid-template-rows: repeat(3, 311px);
			}
		}
	}
}

@media (max-width: 500px) {
	.instagram {
		&__box {
			&-grid {
				grid-template-columns: repeat(4, 186px);
				grid-template-rows: repeat(3, 203px);
			}
		}
	}
}

/* ---------------------------------------------------------- */

.questions-box {
	padding: 120px 0 0;
	&__title {
		font-family: 'GearedSlab';
		font-size: 54px;
		color: #2f3439;
		text-align: center;
		margin-bottom: 87px;
		margin-bottom: 107px;
	}
	&__input {
		display: flex;
		gap: 24px;
		flex-wrap: wrap;
	}
	&__name {
		width: calc((50% / 2) - 20px);
	}
	&__phone {
		width: calc((50% / 2) - 20px);
	}
	&__text {
		width: calc(50% - 20px);
	}
	&__fl {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		row-gap: 20px;

		& p {
			font-family: $SFPro;
			font-size: 13px;
			color: #2f3439;
			opacity: 0.6;
		}
	}
	& input {
		margin-bottom: 32px;
		border-bottom: 1px solid #2f3439;
		padding-bottom: 12px;
		&::placeholder {
			font-family: $SFPro;
			font-size: 16px;
			color: #2f3439;
			opacity: 0.6;
		}
	}
	&__btn {
		display: block;
		color: #fff;
		text-decoration: none;
		font-family: $SFPro;
		font-size: 16px;
		padding: 12px 49px;
		background: #009947;
		border: none;
		border-radius: 50px;
		clear: both;
		box-sizing: border-box;
		cursor: pointer;
		transition: 0.2s;

		&:hover {
			background: #14492b;
		}
	}
}

@media (max-width: 1235px) {
	.questions-box {
		padding-top: 100px;
		&__title {
			font-size: 50px;
			margin-bottom: 90px;
		}
		&__input {
			justify-content: space-between;
		}
		&__name {
			width: calc(50% - 15px);
		}
		&__phone {
			width: calc(50% - 15px);
		}
		&__text {
			width: 100%;
		}
	}
}

@media (max-width: 767px) {
	.questions-box {
		&__btn {
			width: 40vw;
			margin: 0 auto;
		}
	}
}

@media (max-width: 500px) {
	.questions-box {
		&__btn, &__name, &__phone {
			width: 100%;
		}
	}
}

/* ---------------------------------------------------------- */

/* Стили для модального окна */
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 3px solid #888;
	width: 50%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: 'GearedSlab';
	font-size: 30px;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.modal-open {
	overflow: hidden;
}

@media (max-width: 1235px) {
}

@media (max-width: 767px) {
}

/* ---------------------------------------------------------- */

.contacts-box {
	margin: 0 auto;
	padding: 150px 0 90px;
	&__title {
		font-family: 'GearedSlab';
		font-size: 54px;
		color: #2f3439;
		text-align: center;
		margin-bottom: 87px;
	}
	&__fl {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 10px 20px;
	}
}
.contact-box {
	display: flex;
	flex-direction: column;
	&__title {
		font-family: $SFPro;
		font-size: 24px;
		font-weight: 700;
		line-height: 29px;
		color: #2f3439;
		margin-bottom: 15px;
	}
	&__text {
		font-size: 16px;
		font-weight: 400;
		font-style: normal;
		line-height: 24px;
		color: #2f3439;
		text-decoration: none;
		margin-bottom: 7px;
	}
	&__icons {
		display: flex;
		gap: 22px;
	}
}
.map {
	width: 100%;
	height: 560px;
}
.copyright-info {
	padding: 20px 0;
	display: flex;
	justify-content: space-between;
	gap: 10px 20px;
	flex-wrap: wrap;

	& a,
	p {
		font-size: 16px;
		opacity: 0.6;
		text-decoration: none;
		color: #000;
	}
	& a:hover {
		opacity: 1;
	}
}

@media (max-width: 1235px) {
	.contacts-box {
		padding-top: 130px;
		max-width: 700px;
		&__title {
			font-size: 50px;
		}
		&__fl {
			display: grid;
			grid-template-columns: 1fr 1fr;
			justify-content: center;
			gap: 20px 230px;	
		}
	}
	.contact-box {
		&__title {
			font-size: 20px;
		}
	}
	.map {
		height: 450px;
	}
	iframe {
		height: 450px;
	}
}

@media (max-width: 900px) {
	.contacts-box {
		&__fl {
			grid-template-columns: 1fr 170px;
			gap: 20px 30px;
		}
	}
	.copyright-info {
		flex-direction: column;
	}
}

@media (max-width: 500px) {
	.contacts-box {
		&__fl {
			grid-template-columns: 1fr;
		}
	}
}

/* ---------------------------------------------------------- */

.footer {
	position: relative;
	background: url(/src/img/header-bg.jpg) repeat-y center bottom;
	border-top: 7px solid #009947;
	border-bottom: 15px solid #009947;
	overflow: hidden;
	clear: both;
	&__menu {
		clear: both;
		margin: 20px 0 35px;
		position: relative;
		height: 30px;

		&-production {
			float: left;
			display: block;
			color: #fff;
			text-transform: uppercase;
			text-decoration: none;
			font-size: 16px;
			width: 164px;
			line-height: 28px;
			height: 30px;
			background: #009947;
			border-bottom: 3px solid #b7ca39;
			border-radius: 4px;
			display: block;
			font-family: $TimesRoman;
			padding-left: 45px;
			box-sizing: border-box;
			position: relative;

			&::before {
				content: '';
				display: block;
				position: absolute;
				background: url(/src/icons/prod-icon.png) repeat center top;
				top: 8px;
				left: 15px;
				width: 15px;
				height: 12px;
			}

			&:hover {
				background: #14492b;
				border-bottom: 3px solid #009947;
			}
		}

		& .nav {
			float: right;

			& li {
				display: inline-block;
				position: relative;
				margin: 0 10px;
				line-height: 30px;

				& a {
					text-transform: uppercase;
					text-decoration: none;
					color: #424242;
					font-family: $TimesRoman;

					&:hover {
						color: #009947;
						text-decoration: underline;
					}
				}

				&:last-child {
					margin-right: 0;

					&::after {
						content: none;
					}
				}

				&::after {
					content: '';
					display: block;
					position: absolute;
					background: #808184;
					border-radius: 5px;
					top: 13px;
					right: -15px;
					width: 5px;
					height: 5px;
				}
			}
		}
	}

	&__slogan {
		float: left;
		text-align: center;
		font-size: 14px;
		font-family: $Arial;
		padding-top: 120px;
		width: 165px;
		margin: 0 110px 40px 0;
		background: url(/src/icons/logo-bg2.png) no-repeat center 5px;
		position: relative;
	}

	&__column-first {
		float: left;
		width: 365px;
		margin-top: 10px;
		margin-right: 30px;
		position: relative;
		font-weight: 400;

		& p {
			line-height: 1.2;
			margin-bottom: 15px;
			font-variant: small-caps;
			font-size: 15px;
			font-family: $TimesRoman;

			&:last-of-type {
				font-size: 32px;
				font-family: $TimesRoman;
				color: #477242;
				padding-top: 15px;
				letter-spacing: 2px;
			}
		}
		& a {
			color: #477242;
			&:hover {
				opacity: 0.6;
			}
		}
	}
	&__column-second {
		float: left;
		margin-top: 10px;
		position: relative;
		font-weight: 400;
		& p {
			font-variant: small-caps;
			font-family: $TimesRoman;
			line-height: 1.1;
			font-size: 15px;
		}
	}
	& .logo {
		float: right;
		width: 326px;
		height: 168px;

		& img {
			width: 326px;
			height: 168px;
		}
	}
}
.footer-dev {
	text-decoration: underline;
	text-underline-offset: 4px;
	color: #424242;
}

@media (max-width: 1235px) {
	.footer {
		display: none;
	}
}

@media (max-width: 767px) {
}

/* ---------------------------------------------------------- */

.error-box {
	width: 100%;
	padding: 100px;
	&__img {
		display: block;
		margin: 0 auto;
	}
	&__text {
		font-family: $Arial;
		font-weight: 400;
		font-size: 15px;
		text-align: center;
		color: #1a1a1a;
		opacity: 0.8;
		margin-bottom: 30px;
	}
	&__btn {
		display: block;
		margin: 0 auto;
		padding: 8px 20px;
		color: #fff;
		text-transform: uppercase;
		text-decoration: none;
		font-size: 16px;
		width: 148px;
		text-align: center;
		line-height: 16px;
		background: #009947;
		border-bottom: 3px solid #b7ca39;
		border-radius: 4px;
		display: block;
		font-family: $TimesRoman;
		box-sizing: border-box;
		position: relative;
		&:hover {
			background: #14492b;
			border-bottom: 3px solid #009947;
		}
	}
}

@media (max-width: 1235px) {
}

@media (max-width: 767px) {
}
